@import "../../index.css";

.login-presentation-card {
  background: url(https://i.postimg.cc/wj4VwdMX/posgrado.jpg) center;
  background-size: contain;
  border-radius: var(--radius) 0 0 var(--radius) !important;
  border: none;
}

.login-form-full-size {
  border-radius: 0 var(--radius) var(--radius) 0 !important;
}
